---
---

@import "{{ site.theme }}";

body { font-family: calibri, lato, tohama, arial; background: url("../images/checker.png") fixed; }

header > h1 { font-size: 40px; }
header > h1 > span { padding: 0px 15px; }
header > h1 + p { width: auto; font-size: 17px; }
header > h1 + p > a { padding: 0px 5px; }
header > ul:before { left: -2px; top: 0px; right: -2px; bottom: -3px; }
header > ul a { height: 32px; }

div.wrapper, footer { max-width: 800px; width: auto; }

div.wrapper > section { padding-top: 25px; }

div.wrapper > section > h1#lazycurl-- { display: none; }
div.wrapper > section > h1#lazycurl-- + p { display: none; }
